* {
    padding: 5px;
}

.input-task{
    width: 490px;
    background-color: #1aa7ec;
    margin-left: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    background: #1aa7ec;
    border: #1aa7ec;
}
input:focus{
    outline: none;
}
