* {
    padding: 5px;
}

.input-task{
    width: 490px;
    background-color: aqua;
    margin-left: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    background: aqua;
    border: #405cf5;
}
input:focus{
    outline: none;
}
