* {
    padding: 5px;
}

.input-task{
    width: 490px;
    background-color: #afb9c5;
    margin-left: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    background: #afb9c5;
    border: #afb9c5;
}
input:focus{
    outline: none;
}
