.dropdown {
    position: relative;
    &-btn{
        cursor: pointer;
    }
    &-content {
        position: absolute;
        top: 110%;
        padding: 10px;
        background: #fff;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        font-weight: 500;
        color: #333;
        transition: all 0.2s;
        &-item {
            font-weight: 600;
            padding: 10px;
            cursor: pointer;
            &:hover{
                background-color: #f4f4f4;
            }
           
        }
    }

   
}