@import '../../scss/color.scss';

.btn {
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
    width: 175px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 0px;

    &-size-large{
        font-size: 20px;
    }
    &-size-medium{
        font-size: 16px;
    }
    &-size-small{
        font-size: 12px;
    }


    &-color-primary {
        color: $white;
    }
    &-color-secondary {
        color: $blue;
    }
    &-bg-primary{
        background: $blue;
    }
    &-bg-secondary{
        background-color: $white;
    }

    &-shape-round{
        border-radius: 5px;
    }

    &-type-primary{
        background: $blue;
        color: $white;
        &:hover {
            // background-color: $white;
            // color: $blue;
            // border: $blue 2px solid;
            box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
            transform: translateY(-0.1em);
        }
    }

    &-type-secondary{
        background-color: $white;
        color: $blue;
        border: $blue 2px solid;
        &:hover {
            box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
            transform: translateY(-0.1em);
        } 
    }
}
