li {
    list-style: none;
}

#list{
    background-color: white;
    border-radius: 5px ;
    margin: 10px;
    padding: 0px;
    height: 65px;
    width: 650px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    box-shadow: 3px 3px #E2E4E5;
}

.label-Highest{
    background-color: #E64F3B;
    width: 10px;
    height: 65px;
    border-radius: 5px 0 0 5px; 
}
.label-Critical{
    background-color: #FE9319;
    width: 10px;
    height: 65px;
    border-radius: 5px 0 0 5px; 
}
.label-Alarming{
    background: #EFD000;
    width: 10px;
    height: 65px;
    border-radius: 5px 0 0 5px; 
}
.label-Low{
    width: 10px;
    height: 65px;
    background: #54B445;
    border-radius: 5px 0 0 5px; 
}

.btn-finish, .btn-delete, .btn-edit{
    border: none;
    background: none;
    margin: 5px;
    font-size: small;
}
.task-name{
    font-size: larger;
    font-weight: bolder;
}
.tasklist{
    height: 320px;
    overflow-y: scroll;
    width: 670px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #035397;
    border-radius: 100vw;
}

::-webkit-scrollbar-track{
    margin-block: 8px;
    border-radius: 100vw;
    opacity: 1;
}
::-webkit-scrollbar-thumb:hover{
    opacity: 0.5;
}

.main-context{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task-name input{
    font-size: 20px;
    font-weight: bold;
}


.task-true{
    opacity: 0.2;
}
.task-false{
    opacity: 1;
}

