.form-container {
    text-align: center;
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container .form {
    width: 100%;
  }
  .form-container .form input {
    padding: 3px;
  }
  .form-container .btn-login {
    cursor: pointer;
    padding: 3px;
    font-weight: 500;
    border: 1px solid #b3b3b3;
  }
  .form-container .btn-login:hover {
    border: 1px solid white;
  }