.form-container {
    text-align: center;
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container .form {
    width: 100%;
    padding: 200px 0 0 0;
  }
  .form-container .form input {
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid #40A9FF;
  }
  .form-container .form input:focus{
    outline: #40A9FF;
  }
  .btn-login {
    margin: 10px;
  }
  