@import '../../scss/color.scss';

.icon {
    cursor: pointer;
    padding: 10px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    max-height: fit-content;
    width: fit-content;

    &-size-small {
        font-size: 12px;
    }
    &-size-medium {
        font-size: 20px;
    }
    &-size-large {
        font-size: 28px;
    }

    &-color-default {
        color: black;
        background: #EFEFEF;
        border-radius: 50%;

        &:hover {
            background-color: #D1D1D1;
        }
    }

    &-color-red {
        color: $red;
    }
    &-color-yellow {
        color: $yellow;
    }
    &-color-green {
        color: $green;
    }
    &-color-blue {
        color: $blue;
    }
}