@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app-container{
    background-image: linear-gradient(to right bottom, #e1b382, #c89666);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper{
    background: #12343b;
    min-width: 500px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid ;
    border-radius: 20px;
    box-shadow: 0px 5px 10px black;
}

.header h1{
    color: #fff;
    text-align: center;
    margin: 30px 0;
    font-weight: 700;
}

.task-input{
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    background-color: white;
    border: solid 1px #c89666;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}

.btn-add{
    width: 105px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    background: #e1b382;
    cursor: pointer;
}

.todo-list{
    display: flex;
    margin: 20px 0;
    border: 1px solid #c89666;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
}

.todo-list input{
    pointer-events: none;
}
.todo-list input {
    width: 250px;
    background-color: #12343b;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
}
.todo-list input:focus, button:focus{
    outline: none;
}

.btn-complete, .btn-edit, .btn-delete, .btn-timer, .btn-repeat{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    color: #c89666;
}

li {
    list-style-type: none
}

.todo-list {
    width: fit-content;
    padding-right: 13px;
}