$white: #fff;
$black: #000;
$grey-1: #636363;
$grey-2: #f9f9f9;
$grey-3: #707070;
$grey-4: #cecece;
$grey-5: #b0b0b0;
$grey-6: #ccc;

$red: #E64F3B;
$orange: #FE9319;
$yellow: #EFD000;
$green: #54B445;
$blue: #035397;

